modules = ["nodejs-20"]
[nix]
channel = "stable-25_05"

[workflows]
runButton = "React Native Web"

[[workflows.workflow]]
name = "React Native Dev"
author = 46257947
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"

[[workflows.workflow]]
name = "React Native Web"
author = 46257947
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "expo start --web --port 5000"
